/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 导航栏样式 */
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
}

/* 导航链接样式 */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 16px;
}

/* 鼠标悬停效果 */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* 活跃页面的样式 */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.back {
    z-index: -9999;
    background-color: #04AA6D;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.container {
    position: absolute;
    /* 改为相对定位 */
    left: 50%;
    /* 从左侧中心 */
    transform: translateX(-50%);
    /* 水平居中 */
    width: 1250px;
    height: 465px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow-y: auto;
    /* 允许垂直滚动 */
    padding: 20px;
    top: 75px;
    /* 可选，设置上边距 */
    overflow: auto;
    /* 溢出内容显示滚动条 */
}

.container h1 {
    text-align: center;
    /* 设置标题文本居中 */
    margin: 0;
    /* 移除默认的外边距 */
    padding: 20px 0;
    /* 添加上下内边距以增加间距 */
}

.container p {
    text-align: center;
    /* 设置标题文本居中 */
    margin: 0;
    /* 移除默认的外边距 */
    padding: 20px 0;
    /* 添加上下内边距以增加间距 */
}

#inputFields {
    margin: 20px 0;
}

.note {
    margin-bottom: 10px;
}



/* 固定工具栏样式 */
#fixedToolbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#createButton:hover {
    box-shadow: 0 3px 5px #333;
}

#inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    position: sticky;
    top: 20px;
    backdrop-filter: blur(20px);
    z-index: 100;
}

#titleInput,
#textInput {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

#saveButton,
#cancelButton {
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

#saveButton,
#cancelButton {
    display: inline-block;
}

#notetext {
    background-color: #d6ebe4;
    border-radius: 10px;
}

#note_text_content {
    padding-top: 5px;
    padding-left: 5px;
}

#note_text_time {
    padding-bottom: 5px;
    padding-right: 5px;
}

#filterInput {
    height: 20px;
    margin-left: 5px;
    padding-left: 3px;
    border-radius: 3px;
    border-width: 1px;
}

button:hover {
    cursor: pointer;
}